/*used in both profile and edit proofile page*/
.profile-page {
  z-index: 1;
  background-color: rgba(58, 57, 59, 0.863);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/*used in both profile and edit proofile page*/
.profile-title {
  color: white;
  font-size: 15pt;
  display: flex;
  flex-direction: row;
  column-gap: 10pt;
  align-self: flex-start;
  justify-self: flex-start;
  padding-top: 10pt;
  padding-left: 10pt;
font-weight: bolder;
}

.personal-data {
  width: 40vw;
  height: 150pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20pt 0pt 40pt 0;
}

.profile-pic {
  width: 100pt;
  height: 100pt;
  border-radius: 50pt;
}

.profile-name {
  font-size: 16pt;
  font-weight: 700;
  margin-bottom: 5pt;
  margin-top: 20pt;
}

.profile-email {
  font-size: 13pt;

}

.navigation {
  align-self: flex-start;
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  row-gap: 20pt;
  margin-left: 10pt;
}

.profile-item {
  /* height: 20pt; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation span {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  /* Add some spacing between the icon and the text */

}

.navigation a {
  text-decoration: none;

}

/*edit profile page css here*/

.profile-edit-form {
  margin: 20pt;
}

.profile-edit-form input,
select {
  background-color: rgba(58, 57, 59, 0.256);
  width: 75vw;
  height: 35pt;
  border-radius: 5pt;
  margin: 8pt 0;
  border-color: white;
  border-width: 1pt;
  color: rgba(200, 198, 194, 0.893);
  padding: 0;
}

.profile-edit-form button {
  width: 75vw;
  height: 30pt;
  background-color: rgb(8, 105, 216);
  color: white;
  border-radius: 5pt;
  margin-top: 30pt;
  padding: 0;
}