.profile-page{
  background-color: rgba(26, 20, 20, 0.055);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.personal-data{
  width: 40vw;
  height: 150pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: -10pt;
}

.profile-pic{
width: 100pt;
height: 100pt;
border-radius: 50pt;

}
ul{
  list-style: none;
}
.navigation {
  text-decoration: none;
  color: red;
}